
<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-2">
    <%= gravatar_for @user %>
  </div>
  <div class="col-md-2">
        <ul class="list-unstyled">
        	<li><%= @user.name %></li>
        	<li><a href="#"><%= @user.email %></a></li>
        	<li><%= link_to "Edit", edit_user_path(current_user), class: "btn btn-mid btn-primary" %></li>
        </ul>
  </div>
</div>
